{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
<div class="row">
  <div class="col-sm-7">
    {% if publications.subintro1 %}
    <div class="subintro">
      {{ publications.subintro1 | markdownify }}
    </div><!--//intro-->
    {% endif %}
  
    {% for publication in publications.youtube %}
    <div class="item">
      <div class="publication-title">{{ publication.channel }}</div>
      <div class="publication-authors">{{ publication.about }}</div>
      <div class="publication-conference">{{ publication.tags }}</div>
    </div><!--//item-->
    {% endfor %}  
  </div>
  <div class="col-sm-5">
    {% if publications.subintro2 %}
    <div class="subintro">
      {{ publications.subintro2 | markdownify }}
    </div><!--//intro-->
    {% endif %}

    {% for publication in publications.blog %}
    <div class="item">
      <div class="publication-title">{{ publication.channel }}</div>
      <div class="publication-authors">{{ publication.about }}</div>
      <div class="publication-conference">{{ publication.tags }}</div>
    </div><!--//item-->
    {% endfor %}
  </div>
</div>

</section><!--//section-->
{% endif %}
