{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.youtube %}
  <div class="item">
    <div class="publication-title">{{ publication.channel }}</div>
    <div class="publication-authors">{{ publication.about }}</div>
    <div class="publication-conference">{{ publication.tags }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
